[general]
	enable = true
	dotfileshome = auto
	hostname = auto
	assumeyes = false
	loglevel = 4
	nointernet = false
	distro = auto
	# extragroups = dialout
	dryrun = false

[dotfiles]
	enable = true
	backup = false
	backupname = auto
	forcelinks = true
	links = \
		bin bash bashrc \
		vim vimrc \
		Xresources Xresources.d \
		tmux tmux.conf \
		cheat gitconfig inputrc

[system]
	enable = true
	rpmfusionfree = true
	rpmfusionnonfree = false
	pkgman = auto
	pkgbase = \
		tmux vim picocom wmctrl htop ack blivet-gui \
		git-gui gitk meld
	font = terminus-powerline
	autocomplete = true
	vundle = true
	vimpager = true
	chrome = true

[extra]
	enable = false
	fooargs = "agr1 arg2 arg3"

[gnome]
	enable = true

[st]
	enable = true

[git]
	enable = true
	username = "Liam Beguin"
	email    = "liambeguin@gmail.com"

# vim: set ft=gitconfig:
